$primaryColor: #c98a40;
$btnColor: #fdba10;
$secondaryColor: #ffffff;
$footerColor: #584125;
$formColor: #ffd39f;
$infoColor: #333333;
$borderColor: #ffd8ab;
$accentColor: #2196f3;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
