.contact {
  padding-top: 50px;

  &__title {
    color: $primaryColor;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 100px;
  }
  &__input {
    width: 374px;
    height: 56px;
    padding: 0px 20px;
    margin-bottom: 14px;
    background: $formColor;
    border: none;
    border-radius: 61px;
  }
  &__submit-btn {
    width: 168px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 32px;
    gap: 30px;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    fill: $primaryColor;
    color: $infoColor;
  }
  &__link:hover {
    fill: $accentColor;
    color: $accentColor;
  }
  &__icon {
    fill: inherit;
    margin-right: 20px;
  }
}
