.contact {
  padding-top: 50px;

  &__title {
    color: $primaryColor;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 100px;
  }
  &__input {
    width: 374px;
    padding: 18px 20px;
    margin-bottom: 14px;
    background: $formColor;
    border: none;
    border-radius: 61px;
  }
  &__submit-btn {
    width: 168px;
  }
}
