.header {
  position: relative;
  outline: 0;
  border: 0;
  padding-top: 26px;
  padding-bottom: 20px;
  padding-left: 352px;
  background: url(../../images/mask_group_header.png),
    url(../../images/small.jpg),
    linear-gradient(
      to right,
      $primaryColor 0%,
      $primaryColor 63.7%,
      $secondaryColor 63.7%,
      $secondaryColor 100%
    );
  background-position: top 0px right 0px, bottom -8px left 0px, top 0px left 1px;
  background-repeat: no-repeat;
  @media screen and (max-width: 1880px) {
    padding-bottom: 10px;
    padding-left: 100px;
    background-size: 500px, 350px, auto;
  }
  &__logo-img {
    @media screen and (max-width: 1880px) {
      width: 33px;
      height: 43px;
    }
  }
  &__img1 {
    position: absolute;
    z-index: 5;
    top: 320px;
    right: 351px;
    @media screen and (max-width: 1880px) {
      top: 250px;
      right: 221px;
      max-width: 333px;
    }
  }
  &__img2 {
    position: absolute;
    z-index: 6;
    top: 605px;
    right: 595px;
    @media screen and (max-width: 1880px) {
      max-width: 94px;
      top: 400px;
      right: 337px;
    }
  }
  &__img3 {
    position: absolute;
    z-index: 7;
    top: 253px;
    right: 366px;
    @media screen and (max-width: 1880px) {
      top: 215px;
      right: 220px;
      max-width: 233px;
    }
  }
  &__img4 {
    position: absolute;
    z-index: 8;
    top: 253px;
    right: 366px;
    @media screen and (max-width: 1880px) {
      top: 215px;
      right: 220px;
      max-width: 233px;
    }
  }
  &__logo {
    display: flex;
    max-width: 248px;
    border-radius: 10px;
    transition: transform 200ms $cubic, box-shadow 200ms $cubic;
    &:hover {
      box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
      transform: scale(1.1);
    }
    @media screen and (max-width: 1880px) {
      max-width: 180px;
    }
  }

  &__logo-text {
    margin-left: 16px;
    max-width: 179px;
    font-family: "Sen";

    font-weight: 700;
    font-size: 28px;
    line-height: 1.21;
    text-transform: uppercase;
    color: $secondaryColor;
    @media screen and (max-width: 1880px) {
      font-size: 18px;
    }
  }
}
.hero {
  display: block;
  padding-top: 194px;
  padding-bottom: 96px;
  max-width: 621px;
  @media screen and (max-width: 1880px) {
    max-width: 430px;
    padding-top: 122px;
    padding-bottom: 60px;
  }

  &__title {
    margin-bottom: 20px;
    font-family: "Sen";
    font-weight: 800;
    font-size: 74px;
    line-height: 1.2;
    text-transform: uppercase;
    color: $secondaryColor;
    @media screen and (max-width: 1880px) {
      font-size: 47px;
    }
  }
  &__info {
    margin-bottom: 38px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.44;
    color: $secondaryColor;
    @media screen and (max-width: 1880px) {
      font-size: 12px;
    }
  }
}
.social {
  display: flex;
  @media screen and (max-width: 1880px) {
    padding-left: 150px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    max-width: 25px;
    gap: 12px;
    margin-right: 57px;
    margin-left: 36px;
    @media screen and (max-width: 1880px) {
      gap: 3px;
    }
  }
  &__phone {
    margin-top: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 0.15em;
    color: $secondaryColor;
    transition: color 200ms $cubic;
    @media screen and (max-width: 1880px) {
      font-size: 12px;
    }
    &:hover {
      color: $accentColor;
    }
  }
  &__phone-span {
    margin-right: 19px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.44;
    color: inherit;
    @media screen and (max-width: 1880px) {
      font-size: 12px;
    }
  }
  &__icon {
    z-index: 10;
    transition: fill 200ms $cubic;
    &:hover {
      fill: $accentColor;
    }
    @media screen and (max-width: 1880px) {
      width: 18px;
    }
  }
}
