.header {
  position: relative;
  padding-top: 26px;
  padding-bottom: 20px;
  padding-left: 352px;
  background: url(../../images/mask_group_header.jpg),
    url(../../images/small.jpg),
    linear-gradient(
      to right,
      $primaryColor 0%,
      $primaryColor 63.7%,
      $secondaryColor 63.7%,
      $secondaryColor 100%
    );
  background-position: top 0px right 0px, bottom -8px left 0px, top 0px left 1px;
  background-repeat: no-repeat;
  // background-size: 466px, 466px, 188px, 666px, 449px, 689px, 1064px, 1214px;
  // background-repeat: no-repeat;
  // background-position: top 253px right 366px, top 253px right 366px,
  //   top 605px right 595px, top 320px right 351px, bottom 0px left 0px,
  //   top 0px right 0px, center, top 0px left 1px;
  &__img1 {
    position: absolute;
    z-index: 5;
    top: 320px;
    right: 351px;
  }
  &__img2 {
    position: absolute;
    z-index: 6;
    top: 605px;
    right: 595px;
  }
  &__img3 {
    position: absolute;
    z-index: 7;
    top: 253px;
    right: 366px;
  }
  &__img4 {
    position: absolute;
    z-index: 8;
    top: 253px;
    right: 366px;
  }
  &__logo {
    display: flex;
    max-width: 248px;
    border-radius: 10px;
    transition: transform 200ms $cubic, box-shadow 200ms $cubic;
    &:hover {
      box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
      transform: scale(1.1);
    }
  }

  &__logo-text {
    margin-left: 16px;
    max-width: 179px;
    font-family: "Sen";

    font-weight: 700;
    font-size: 28px;
    line-height: 1.21;
    text-transform: uppercase;
    color: $secondaryColor;
  }
}
.hero {
  padding-top: 194px;
  padding-bottom: 96px;
  display: block;
  max-width: 621px;

  &__title {
    margin-bottom: 20px;
    font-family: "Sen";
    font-weight: 800;
    font-size: 74px;
    line-height: 1.2;
    text-transform: uppercase;
    color: $secondaryColor;
  }
  &__info {
    margin-bottom: 38px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.44;
    color: $secondaryColor;
  }
}
.social {
  display: flex;
  &__link {
    width: 100%;
    height: 100%;
  }
  &__list {
    display: flex;
    flex-direction: column;
    max-width: 25px;
    gap: 12px;
    margin-right: 57px;
    margin-left: 36px;
  }
  &__phone {
    margin-top: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: 0.15em;
    color: $secondaryColor;
    transition: color 200ms $cubic;
    &:hover {
      color: $accentColor;
    }
  }
  &__phone-span {
    margin-right: 19px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.44;
    color: inherit;
  }
  &__icon {
    z-index: 10;
    transition: fill 200ms $cubic;
    &:hover {
      fill: $accentColor;
    }
  }
}
@media screen and (max-width: 1880px) {
  .header {
    padding-left: 100px;
  }
  .social {
    padding-left: 250px;
  }
}
// @media screen and (max-width: 1640px) {
//   .social {
//     padding-left: 250px;
//   }
//   .header {
//     padding-left: 100px;
//     background: url(../../images/mask_group_header.jpg),
//       url(../../images/small.jpg),
//       linear-gradient(
//         to right,
//         $primaryColor 0%,
//         $primaryColor 63.7%,
//         $secondaryColor 63.7%,
//         $secondaryColor 100%
//       );
//     background-position: top 0px right 0px, bottom -8px left 0px,
//       top 0px left 1px;
//     background-repeat: no-repeat;
//     // background-size: 466px, 466px, 188px, 666px, 449px, 689px, 1064px, 1214px;
//     // background-repeat: no-repeat;
//     // background-position: top 253px right 366px, top 253px right 366px,
//     //   top 605px right 595px, top 320px right 351px, bottom 0px left 0px,
//     //   top 0px right 0px, center, top 0px left 1px;
//     &__img1 {
//       width: 333px;
//     }
//     &__img2 {
//       width: 94px;
//     }
//     &__img3 {
//       width: 233px;
//     }
//     &__img4 {
//       width: 233px;
//     }
//   }
// }
