.work {
  // background-image: ;
  padding-top: 50px;
  background: url(../../images/work_mask.png),
    linear-gradient(
      to right,
      $secondaryColor 0%,
      $secondaryColor 36.3%,
      $primaryColor 36.3%,
      $primaryColor 100%
    );
  background-repeat: no-repeat;

  // background: linear-gradient(
  //   90deg,
  //   rgba(255, 255, 255, 0.1) 0%,
  //   rgba(255, 255, 255, 0.1) 36.3%,
  //   var($primaryColor) 36.3%,
  //   var($primaryColor) 100%
  // );
  // background-image: url(../../images/work_mask.png);
  // background-repeat: no-repeat;
  // background-size: auto 850px;
  // background-position: top 0px left 0px, top 0px right 0px;

  &__info-wrapper {
    @extend %flex;
    flex-direction: row-reverse;
    gap: 263px;
    margin-bottom: 50px;
  }
  &__title {
    text-align: end;
    max-width: 630px;
  }
  &__info {
    text-align: start;
    max-width: 280px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.44;
    color: $primaryColor;
  }

  &__list {
    @extend %flex;
    gap: 20px;
    margin-bottom: 50px;
  }

  &__img {
    border-radius: 10px;
  }
}
